.register-container {
    width: 300px;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input {
    padding: 10px;
    border: 1px solid gray;
    border-radius: 5px;
}

button {
    padding: 10px;
    border: 1px solid gray;
    border-radius: 5px;
    cursor: pointer;
}

p {
    text-align: center;
}