.welcome-page {
  min-height: 100vh;
  background-color: #fce4cb;
  padding: 40px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.welcome-card {
  width: 100%;
  max-width: 1000px;
  min-height: 700px;
  max-height: 800px;

  display: flex;

  background-color: #ffffff;
  border-radius: 24px;
  overflow: hidden;
}

.welcome-content {
  width: 45%;
  padding: 60px 50px;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.welcome-image {
  width: 55%;
  background-image: url(../assets/Hrana1.jpg);
  background-size: cover;
  background-position: left;
  background-repeat: no-repeat;
  position: relative;
}

.welcome-image::before {
  content: "";
  position: absolute;
  inset: 0;

  background: linear-gradient(
    to right,
    #ffffff 0%,
    rgba(255, 255, 255, 0.75) 4%,
    rgba(255, 255, 255, 0) 10%
  );
}

.welcome-title {
  font-family: Georgia, "Times New Roman", Times, serif;
  display: flex;
  flex-direction: column;
  line-height: 1;
  margin: 0 auto 36px;
  width: fit-content;
  color: #332923;
}

.title-main {
  font-size: 50px;
}

.title-accent {
  font-size: 32px;
  color: #f26a1b;
  text-align: right;
  width: 100%;
}

.welcome-content .subtitle {
  font-size: 17px;
  line-height: 1.5;
  color: #5f5148;
  margin-bottom: 50px;
  text-align: center;
}

.welcome-actions {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.welcome-actions button {
  width: 100%;
  padding: 14px 18px;

  font-size: 16px;
  font-weight: 600;

  border-radius: 10px;

  cursor: pointer;
  transition: 0.2s ease;
}

.register-button {
  border: none;
  background-color: #f26a1b;
  color: white;
}

.register-button:hover {
  background-color: #d95b14;
}

.login-button {
  border: 2px solid #f26a1b;
  background-color: white;
  color: #f26a1b;
}

.login-button:hover {
  background-color: #fff3eb;
}
